
<template name="appLayout">

  <div id="appLayout" style="{{getAppRightDistance}} {{isDarkroom}}">
    {{> errorPanel }}

    {{> yield 'leftDock' }}
    <aside id="westPanel" style="{{getTopDistance}} {{getWestPanelWidth}} {{getWestPanelLeft}}">
      {{> yield 'westPanel' }}
    </aside>

    <div id="navbarLayer" style="{{appSurfaceOffset}} {{getLeftTransform}}">
      <header id="navbarHeader" class="sidebarToggle helveticas" style="{{getOpacity}} {{getHeaderHeight}} {{getNavWidth}} {{getBackgroundColor 'colorE'}} ">
        {{> yield 'header'}}
      </header>

      <aside id="globalInput" class="globalInput" style="{{appSurfaceOffset}} {{getLeftTransform}} {{getOpacity}} {{getSearchStyle}} {{getNavWidth}} {{getBackgroundColor 'colorE'}}">
        {{> yield 'globalInput' }}
      </aside>


        <div id="panelSurface">
          <div id="contextTitle" class="helveticas">{{getContextTitle}}</div>
          <div class="hidden">{{resized}}</div>

            <div id="mainPanel" class="helveticas layoutPanel" style="{{getTopDistance}} {{getPageWidth}} {{getPageHeight}} {{getPageColor}} {{getPageOpacity}}">
              <div id="contentAnimation" style="{{getPageHeight}} {{getPageWidth}} {{getZoom}}">
                {{#each thisArray}}
                  {{> yield}}
                {{/each}}
              </div>
            </div>

            {{#if secondPanelEnabled}}
              <div id="secondPanel" class="unselectable helveticas layoutPanel" style="{{getRightPanelStyle}} {{getSecondPanelWidth}} {{getSecondTopDistance}} {{getSecondPanelHeight}} {{getPageOpacity}}">
                {{> yield 'secondPage'}}
              </div>
            {{/if}}

          {{#if showAccountCard}}
            <div id="accountDock" class="rightDockedCard dockedCard" style="{{rightCardStyle}} {{accountCardVisibility}}">
              {{> yield 'accountCard'}}
            </div>
          {{/if}}

          {{#if showRightCard}}
            <div id="rightDock" class="rightDockedCard dockedCard" style="{{rightCardStyle}} {{rightCardVisibility}}">
              {{> yield 'rightDock' }}
            </div>
          {{/if}}
        </div>


      <footer id="navbarFooter" class="unselectable" style="{{getOpacity}} {{getFooterHeight}} {{getNavWidth}} {{getBackgroundColor 'colorE'}} ">
        {{> yield 'footer' }}

        {{#if showHelp}}
          <div class="eastLinks">
            <button id="helpBtn" style="{{getPaletteColor 'colorD'}}">{{getHelpText}}</button>
          </div>
        {{/if}}
      </footer>
    </div>

    {{> yield 'eastPanel' }}
  </div>

  {{> reactiveOverlaysTemplate }}


  {{> yield 'modalA'}}
  {{> yield 'modalB'}}
  {{> yield 'modalC'}}
  {{> yield 'modalD'}}
  {{> yield 'modalE'}}
  {{> yield 'modalF'}}
  {{> yield 'modalG'}}
  {{> yield 'modalH'}}
  {{> yield 'modalI'}}
  {{> yield 'modalJ'}}
</template>


<template name="secondPage">
  <div id="secondPage" class="secondPage">

  </div>
</template>

 <template name="accountCard">
  <aside id="accountCard" class="helveticas" style="{{rightCardStyle}} {{rightCardVisibility}}">
    <div class="cardHandle"></div>
    <img id="accountAvatar" src="{{getAvatarImgSrc}}" alt="" />
    <h4>{{ fullName }}</h4>
    <h4>{{ status }}</h4>
  </aside>
</template>
