
<template name="appLayout">

  <div id="appLayout" style="{{getAppRightDistance}}">
    {{> errorPanel }}

    {{> yield 'leftDock' }}
    <aside id="westPanel" style="{{getWestPanelWidth}}">
      {{> yield 'westPanel' }}
    </aside>

    <div id="panelSurface" style="{{appSurfaceOffset}} {{getLeftTransform}}">
      <header id="navbarHeader" class="helveticas {{getTheme}}" style="{{getOpacity}} {{isVisible}} {{getNavWidth}} {{getBackgroundColor 'colorE'}} ">
        {{> yield 'header'}}
      </header>

      <aside id="globalInput" class="globalInput" style="{{getOpacity}} {{getSearchStyle}} {{getNavWidth}} {{getBackgroundColor 'colorE'}}">
        {{> yield 'globalInput' }}
      </aside>



        <div id="contextTitle" class="helveticas">{{getContextTitle}}</div>
        <div class="hidden">{{resized}}</div>

          <div id="mainPanel" class="helveticas layoutPanel" style="{{getTopDistance}} {{getPageWidth}} {{getPageHeight}} {{pageColor}}">
            <div id="contentAnimation">
              {{#each thisArray}}
                {{> yield}}
              {{/each}}
            </div>
          </div>

          {{#if secondPanelEnabled}}
            <div id="secondPanel" class="unselectable helveticas layoutPanel" style="{{getRightPanelStyle}} {{getRightPanelNorthRule}}">
              {{> yield 'secondPage'}}
            </div>
          {{/if}}

        {{#if showAccountCard}}
          <div id="accountDock" class="rightDockedCard dockedCard" style="{{rightCardStyle}} {{accountCardVisibility}}">
            {{> yield 'accountCard'}}
          </div>
        {{/if}}

        {{#if showRightCard}}
          <div id="rightDock" class="rightDockedCard dockedCard" style="{{rightCardStyle}} {{rightCardVisibility}}">
            {{> yield 'rightDock' }}
          </div>
        {{/if}}

      <footer id="navbarFooter" class="unselectable {{getTheme}}" style="{{getOpacity}} {{getFooterHeight}} {{getNavWidth}} {{getBackgroundColor 'colorE'}} ">
        {{> yield 'footerActionElements' }}
        <div class="eastLinks">
          {{#if showHelp}}
          <button id="helpBtn">{{getHelpText}}</button>
          {{/if}}
        </div>
      </footer>
    </div>

    {{> yield 'eastPanel' }}
  </div>

  {{> reactiveOverlaysTemplate }}


  {{> yield 'modalA'}}
  {{> yield 'modalB'}}
  {{> yield 'modalC'}}
  {{> yield 'modalD'}}
  {{> yield 'modalE'}}
  {{> yield 'modalF'}}
  {{> yield 'modalG'}}
  {{> yield 'modalH'}}
  {{> yield 'modalI'}}
  {{> yield 'modalJ'}}
</template>


<template name="secondPage">
  <div id="secondPage" class="secondPage">

  </div>
</template>

 <template name="accountCard">
  <aside id="accountCard" class="helveticas" style="{{rightCardStyle}} {{rightCardVisibility}}">
    <div class="cardHandle"></div>
    <img id="accountAvatar" src="{{getAvatarImgSrc}}" alt="" />
    <h4>{{ fullName }}</h4>
    <h4>{{ status }}</h4>
  </aside>
</template>
