<template name="defaultNavbarHeader">
  <div id="defaultNavbarHeader" class="unselectable westLinks">
    <a id="navbarTitle" class="navbarTitle sidebarToggle">{{getTitleText}}</a>
    {{#if breadcrumbsExist}}
      <a id="breadcrumb" class="breadcrumb navbarLink" style="{{isVisible}}"> {{getPageTitle}}</a>
    {{/if}}
  </div>

  <div class="unselectable eastLinks">
    {{#if hasEntryControls}}
      <a id="usernameLink" href="{{getUsernameLink}}" class="eastAligned navbarLink" style="{{isVisible}}">{{ fullName }}</a>
      {{#if isLoggedIn }}
        <a id="logoutLink" class="eastAligned navbarLink" style="{{isVisible}}">Logout</a>
      {{/if}}
    {{/if}}
  </div>
</template>
